
  <!-- Barra de navegación -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <!-- Logo o nombre del sitio -->
      <a class="navbar-brand">
        <img src="logoweb.jpg" alt="utsjr" style="width: 200px;"> <!-- Ajusta el tamaño de la imagen -->
      </a>

      <!-- Botón para dispositivos móviles -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Contenido del menú -->
      <div class="collapse navbar-collapse justify-content" id="navbarNav"> <!-- Centrar el menú -->
        <ul class="navbar-nav">
          <!-- Enlaces del menú -->
          <li class="nav-item">
            <a class="nav-link active fs-4" aria-current="page" href="/home">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-4" routerLink="/libro">Libros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-4" routerLink="/productos">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-4" routerLink="/hamburguesa">Ejercicio parcial 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-4" routerLink="/about">Acerca de</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>